## Equal Weights Strategy

In [18]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

## Load the Stocks List

In [19]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

## Load the stocks last Close Price & Market Cap

In [20]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker" : ticker, 
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })
        
    stocks_df = pd.DataFrame(stocks_data)
        
    return stocks_df
        
    

tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  17433335169024   1272.849976
1        TCS.NS  16186972569600   4473.899902
2   HDFCBANK.NS  14338896166912   1871.750000
3       INFY.NS   8282777321472   1999.699951
4  ICICIBANK.NS   9491658571776   1344.900024

In [21]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  17433335169024   1272.849976
1          TCS.NS  16186972569600   4473.899902
2     HDFCBANK.NS  14338896166912   1871.750000
3         INFY.NS   8282777321472   1999.699951
4    ICICIBANK.NS   9491658571776   1344.900024
5   HINDUNILVR.NS   5753950699520   2390.100098
6         SBIN.NS   7760162324480    861.549988
7   BAJFINANCE.NS   4442489880576   7182.799805
8   BHARTIARTL.NS   9903270789120   1681.750000
9          ITC.NS   5939436978176    470.000000
10   KOTAKBANK.NS   3642700333056   1805.650024
11    ADANIENT.NS   2917247746048   2527.550049
12          LT.NS   5423842197504   3887.000000
13     HCLTECH.NS   5332928561152   1968.800049
14  ASIANPAINT.NS   2335362514944   2407.649902
15    AXISBANK.NS   3559047036928   1148.150024
16   SUNPHARMA.NS   4371683737600   1813.449951
17       WIPRO.NS   3240465530880    309.950012
18  ULTRACEMCO.NS   3491340746752  12083.900391
19    HDFCLIFE.NS   1378086027264    632.549988
20        ONGC.NS   3228746121216    254.250000
21        NTPC.NS   3560067563520    357.149994
22   POWERGRID.NS   3105005240320    333.850006
23  TATAMOTORS.NS   2956361990144    790.299988
24  INDUSINDBK.NS    768643760128    986.650024
25  ADANIGREEN.NS   1898301489152   1198.400024
26       TITAN.NS   3137213825024   3508.850098
27    DIVISLAB.NS   1560081727488   5876.700195
28       TECHM.NS   1588847575040   1796.400024
29      MARUTI.NS   3579135918080  11272.549805
30   COALINDIA.NS   2577086021632    410.299988
31        BPCL.NS   1331887865856    301.700012
32    JSWSTEEL.NS   2439214006272    999.849976
33     DRREDDY.NS   1038299234304   1246.349976
34  BAJAJFINSV.NS   2686730371072   1679.699951
35  ADANIPORTS.NS   2721668399104   1259.949951
36       CIPLA.NS   1175976148992   1447.300049
37   BRITANNIA.NS   1183273975808   4850.100098
38     HAVELLS.NS   1102070022144   1757.849976
39    SHREECEM.NS    997058412544  27591.449219
40      GRASIM.NS   1813490434048   2692.699951
41   TATASTEEL.NS   1857674543104    148.949997
42  HEROMOTOCO.NS    933904318464   4575.450195
43         M&M.NS   3699159072768   3081.399902
44   EICHERMOT.NS   1322933551104   4825.899902
45         IOC.NS   2061463846912    144.240005
46     SBICARD.NS    694284648448    725.450012
47  PIDILITIND.NS   1620696629248   3185.199951
48       DMART.NS   2390236594176   3652.300049
49     HDFCAMC.NS    969938632704   4538.850098

## Sort the values

In [22]:
df = df.sort_values(by = "Market Cap", ascending = False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  17433335169024   1272.849976
1          TCS.NS  16186972569600   4473.899902
2     HDFCBANK.NS  14338896166912   1871.750000
8   BHARTIARTL.NS   9903270789120   1681.750000
4    ICICIBANK.NS   9491658571776   1344.900024
3         INFY.NS   8282777321472   1999.699951
6         SBIN.NS   7760162324480    861.549988
9          ITC.NS   5939436978176    470.000000
5   HINDUNILVR.NS   5753950699520   2390.100098
12          LT.NS   5423842197504   3887.000000
13     HCLTECH.NS   5332928561152   1968.800049
7   BAJFINANCE.NS   4442489880576   7182.799805
16   SUNPHARMA.NS   4371683737600   1813.449951
43         M&M.NS   3699159072768   3081.399902
10   KOTAKBANK.NS   3642700333056   1805.650024
29      MARUTI.NS   3579135918080  11272.549805
21        NTPC.NS   3560067563520    357.149994
15    AXISBANK.NS   3559047036928   1148.150024
18  ULTRACEMCO.NS   3491340746752  12083.900391
17       WIPRO.NS   3240465530880    309.950012
20        ONGC.NS   3228746121216    254.250000
26       TITAN.NS   3137213825024   3508.850098
22   POWERGRID.NS   3105005240320    333.850006
23  TATAMOTORS.NS   2956361990144    790.299988
11    ADANIENT.NS   2917247746048   2527.550049
35  ADANIPORTS.NS   2721668399104   1259.949951
34  BAJAJFINSV.NS   2686730371072   1679.699951
30   COALINDIA.NS   2577086021632    410.299988
32    JSWSTEEL.NS   2439214006272    999.849976
48       DMART.NS   2390236594176   3652.300049
14  ASIANPAINT.NS   2335362514944   2407.649902
45         IOC.NS   2061463846912    144.240005
25  ADANIGREEN.NS   1898301489152   1198.400024
41   TATASTEEL.NS   1857674543104    148.949997
40      GRASIM.NS   1813490434048   2692.699951
47  PIDILITIND.NS   1620696629248   3185.199951
28       TECHM.NS   1588847575040   1796.400024
27    DIVISLAB.NS   1560081727488   5876.700195
19    HDFCLIFE.NS   1378086027264    632.549988
31        BPCL.NS   1331887865856    301.700012
44   EICHERMOT.NS   1322933551104   4825.899902
37   BRITANNIA.NS   1183273975808   4850.100098
36       CIPLA.NS   1175976148992   1447.300049
38     HAVELLS.NS   1102070022144   1757.849976
33     DRREDDY.NS   1038299234304   1246.349976
39    SHREECEM.NS    997058412544  27591.449219
49     HDFCAMC.NS    969938632704   4538.850098
42  HEROMOTOCO.NS    933904318464   4575.450195
24  INDUSINDBK.NS    768643760128    986.650024
46     SBICARD.NS    694284648448    725.450012

## Taking Top 10 Stocks as per the market cap

In [23]:
df = df.head(10)
df.reset_index(inplace=True, drop = True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  17433335169024   1272.849976
1         TCS.NS  16186972569600   4473.899902
2    HDFCBANK.NS  14338896166912   1871.750000
3  BHARTIARTL.NS   9903270789120   1681.750000
4   ICICIBANK.NS   9491658571776   1344.900024
5        INFY.NS   8282777321472   1999.699951
6        SBIN.NS   7760162324480    861.549988
7         ITC.NS   5939436978176    470.000000
8  HINDUNILVR.NS   5753950699520   2390.100098
9          LT.NS   5423842197504   3887.000000

In [24]:
portfolio_size = int(input("Enter the amount you want to invest: "))
position_size =  portfolio_size / len(df.index)
position_size

100000.0

In [25]:
df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(
    position_size / price
))

df

C:\Users\admin\AppData\Local\Temp\ipykernel_21872\3798226014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(

          Ticker      Market Cap  Latest Price  Number of Shares to buy
0    RELIANCE.NS  17433335169024   1272.849976                       78
1         TCS.NS  16186972569600   4473.899902                       22
2    HDFCBANK.NS  14338896166912   1871.750000                       53
3  BHARTIARTL.NS   9903270789120   1681.750000                       59
4   ICICIBANK.NS   9491658571776   1344.900024                       74
5        INFY.NS   8282777321472   1999.699951                       50
6        SBIN.NS   7760162324480    861.549988                      116
7         ITC.NS   5939436978176    470.000000                      212
8  HINDUNILVR.NS   5753950699520   2390.100098                       41
9          LT.NS   5423842197504   3887.000000                       25